# Application Configuration
APP_NAME="FlashSale System"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000

# React Frontend Origin
VITE_API_BASE_URL=http://localhost:8000/api

# Database Connection (Docker Container Service: db)
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=laravel
DB_USERNAME=postgres
DB_PASSWORD=secret

# Cache & Session Configuration (Docker Container Service: redis)
CACHE_STORE=redis
CACHE_PREFIX=flash_sale_
SESSION_DRIVER=redis
QUEUE_CONNECTION=rabbitmq

# Redis Server Settings
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# RabbitMQ AMQP Message Broker Configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_QUEUE=order.reservations
RABBITMQ_QUEUE_EXCHANGE_LIMIT=10
RABBITMQ_EXCHANGE_NAME=events
RABBITMQ_EXCHANGE_TYPE=direct